/* Enhanced CSS */

/* General Styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  overflow-x: hidden;
}

header {
  background-color: rgba(17, 17, 17, 0.9);
  padding: 10px 20px;
  text-align: right;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff4500;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Home Section Styles */
.home .content {
  max-width: 50%;
  margin-right: 20px;
  text-align: left;
}

.home h1 {
  color: #ff4500;
  font-size: 3em;
  margin: 0;
  animation: fadeInDown 1s ease-out;
}

.home .changing-text {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #ff4500;
}

.home .changing-text::after {
  content: '|';
  animation: blink 0.7s step-end infinite;
  color: #ff4500;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.home .name {
  color: #ff4500;
  font-size: 2.5em;
  animation: fadeInLeft 1s ease-out;
}

.home .description {
  font-size: 1.1em;
  line-height: 1.6;
  margin: 20px 0;
  animation: fadeInUp 1s ease-out;
}

.resume-button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  animation: fadeInUp 1s ease-out;
}

.resume-button:hover {
  background-color: #27b6f9;
}

.sertif-button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  animation: fadeInUp 1s ease-out;
}

.sertif-button:hover {
  background-color: #27b6f9;
}
/* Profile picture with neon light and fade-out effect */
.profile-picture {
  position: relative;
  max-width: 400px;
  margin-top: 20px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  border: 3px solid #cf5b3d; /* Add a border */
  border-radius: 30%; /* Make the border round */
  padding: 10px; /* Space between border and image */
  background: linear-gradient(45deg, #ff4500, #313131); /* Gradient background */
}

.profile-picture:hover {
  transform: scale(1.1);
}

.profile-picture img {
  width: 100%;
  border-radius: 30%;
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.7);
  animation: fadeIn 1s ease-out;
  position: relative;
  z-index: 1;
}

/* Adding radial gradient animation around the profile picture */
.profile-picture::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: radial-gradient(circle, rgba(255,69,0,0.5), transparent);
  border-radius: 30%;
  z-index: -1;
  animation: pulse 2s infinite;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 20px 0;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links i {
  font-size: 1.5em;
}

.social-links a:hover {
  color: #ff4500;
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .section {
    padding: 20px;
  }

  .home .content {
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }

  .profile-picture {
    max-width: 100%;
    margin-top: 20px;
  }

  .home h1 {
    font-size: 2.5em;
  }

  .home .name {
    font-size: 2em;
  }

  .gallery img {
    width: 100%;  /* Full width for smaller screens */
    height: auto;
  }
}

@media (max-width: 480px) {
  .home h1 {
    font-size: 2em;
  }

  .home .name {
    font-size: 1.5em;
  }

  .resume-button {
    padding: 10px;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
}

/* Animation Keyframes */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it's behind other content but not too low */
  background-color: #1a1a1a; /* Match your existing background color */
  pointer-events: auto; /* Ensure it can receive pointer events */
}

/* Add this to your existing CSS */
.education {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.education .content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.univ-logo img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.education h2 {
  font-size: 2.5em;
  margin: 20px 0;
}

.education .description {
  font-size: 1.2em;
  line-height: 1.6;
  margin-top: 20px;
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax effect */
#education {
  background-image: url('https://github.com/pai-axel/FaytheAxel.github.io/blob/main/bg%20for%20edu.jpg?raw=true'); /* Update path */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Organizations Section */
.organizations {
  background-color: #1a1a1a;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.organizations h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  width: 250px;
  height: 350px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-front {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card-front img {
  max-width: 100px;
  border-radius: 10px;
}

.card-back {
  background-color: #ff4500;
  color: #fff;
  transform: rotateY(180deg);
  padding: 20px;
  border-radius: 10px;
}

/* Gallery Styles */
.gallery {
  margin-top: 50px;
}

.gallery-title {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 20px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: translateY(-5px);
}

.gallery-item img {
  width: 100%;
  border-radius: 5px;
}

.gallery-item p {
  font-size: 1em;
  margin-top: 10px;
  color: #fff;
}

@media (max-width: 768px) {
  .gallery img {
    width: 100%;  /* Full width for smaller screens */
    height: auto;
  }
}

@media (max-width: 480px) {
  .gallery img {
    width: 100%;
    height: auto;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 320px; /* Adjust the width as needed */
  height: 220px; /* Adjust the height as needed */
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

